# Base
numpy
pandas
matplotlib
seaborn

# Machine Learning
scikit-learn
xgboost
lightgbm

# Jupyter & Notebook Tools
jupyter
notebook
ipykernel
ipywidgets
nbstripout
nbdime

# Git + DVC
dvc
gitpython

# Deep Learning (optionnel)
torch
transformers

# Autres
openpyxl
pyyaml
